@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

button {
  padding: 10px 30px;
}

#datetime-picker {
  padding: 10px 45px;
}

.timer {
  display: flex;
  gap: 20px;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.value {
  font-size: 55px;
}
